* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 14px;
    color: rgb(46, 80, 144)
}

.nav-logo a {
    text-decoration: none;
    font-size: 1rem;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hero-content {
    text-align: center;
    color: white;
}

